---
export interface Props {
  id: string;
  title: string;
}

const { title, id } = Astro.props;
---

<section
  id={id}
  class="flex flex-col gap-4 space-y-8 sm:ml-10 ml-5"
>
  <div class="flex flex-col gap-4">
    <slot name="eyebrow" />
    <h2
      class="font-extrabold tracking-tight text-5xl"
    >
      {title}
    </h2>
  </div>
  <div class="flex sm:flex-row sm:gap-20 flex-col">
    <slot name="image" />
    <slot name="paragraph"/>
  </div>
  <slot name="foot" />
</section>
