---
import Starfield from "~/components/starfield.astro";
const { homeText } = Astro.props;
import imagenHome from "~/assets/halcon-milenario-arriba-izq.webp";
import padawantext from "~/assets/PaDawaN_White.webp";
---

<script>
  function handleScroll() {
    const scrollIcon = document.getElementById("scrollIcon");
    const logo = document.getElementById("logo");
    // Verificar la posición vertical de desplazamiento
    if (scrollIcon) {
      // Si se ha hecho scroll hacia abajo, ocultar el div suavemente
      if (window.scrollY > 0) {
        scrollIcon.style.opacity = "0";
      } else {
        scrollIcon.style.opacity = "1";
      }
    }

    if (logo) {
      // Verificar la posición vertical de desplazamiento
      if (window.scrollY > 0) {
        // Si se ha hecho scroll hacia abajo, mostrar el logo con la clase "visible"
        logo.classList.add("visible");
      } else {
        // Si se ha hecho scroll hacia arriba o no se ha hecho scroll, ocultar el logo
        logo.classList.remove("visible");
      }
    }
  }

  // Agregar un listener para el evento de desplazamiento
  window.addEventListener("scroll", handleScroll);

  // Llamar a handleScroll una vez para manejar el estado inicial
  handleScroll();
</script>



<section class="relative h-full w-full bg-black">
  <Starfield />
  <div class="relative grid h-full place-items-center content-center">
    <img src={imagenHome.src} alt="Nave Oscura" class="absolute z-0 sm:h-3/4 h-2/5" />
   <img src={padawantext.src} alt="Padawan" class="z-10 w-1/3 object-cover" />
    <h3 class="mt-10 w-9/12 text-center z-10 font-medium">{homeText}</h3>
    <div class="scroll-downs relative top-40" id="scrollIcon">
      <div class="mousey">
        <div class="scroller"></div>
      </div>
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  #scrollIcon {
    transition: opacity 0.5s ease;
  }

  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>